# PyCharm / IntelliJ IDEA
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Coverage / reports
.coverage
htmlcov/
coverage.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build / dist
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*

# Mypy / type checking
.mypy_cache/
.pyre/

# Jupyter
.ipynb_checkpoints/

